%h1 Deficiencies
= render "defnav"
%h4= link_to 'pdf form', "/grades/deficiency/#{@quarter}.pdf"

%table{:class => "zebra-striped tablesorter sortable"}
  %thead
    %tr
      %th Course
      %th Section
      %th Students
  %tbody
    - @def.each do |c|
      %tr
        %td= link_to c[0].subject.name, c[0]
        %td= "#{c[0].section.year} #{c[0].section.name}"
        %td
          - c[1].each do |grade|
            %li= grade.student.fullname

