%h3 Deficiencies
%h3= "Quarter #{@quarter}"
%table{:class => "zebra-striped tablesorter sortable"}
  %thead
    %tr
      %th Course
      %th Section
      %th Students
  %tbody
    - @def.each do |c|
      %tr
        %td= c[0].subject.name
        %td= "#{c[0].section.year} #{c[0].section.name}"
        %td
          - c[1].each do |grade|
            %li= grade.student.fullname

