%h1 Classlists
-unless @schoolyear.nil?
  %h2= @schoolyear.name
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Subject
        %th Factulty
        %th Batch
        %th Section
        %th Action
    %tbody
    - @schoolyear.courses.first_sem.each do |course|
      %tr
        %td= course.subject.name
        %td= course.faculty.fullname
        %td= course.section.batch.year
        %td= course.section.name
        %td= link_to 'Show Grades', "/grades/classlist/#{course.id}"
- else
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Schoolyear
        %th Classes
        %th Action
    %tbody
    - @schoolyears.each do |s|
      %tr
        %td= s.name
        %td= s.courses.count
        %td= link_to 'Show Classes', "/grades/schoolyear/#{s.id}"
