%p#notice= notice

%p
  %b Course:
  = @grade.course
%p
  %b Student:
  = @grade.student
%p
  %b Quarter:
  = @grade.quarter
%p
  %b Value:
  = @grade.value

= link_to 'Edit', edit_grade_path(@grade)
\|
= link_to 'Back', grades_path
