%h1 Transcript
-unless @batch.nil?
  %h2= @batch.year
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Student Number
        %th Name
        %th Courses
        %th Action
    %tbody
    - @batch.students.each do |student|
      %tr
        %td= student.student_no
        %td= student.fullname
        %td= student.courses.count
        %td= link_to 'Show Grades', "/students/transcript/#{student.id}"
- else
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Batch
        %th Students
        %th Action
    %tbody
    - @batches.each do |b|
      %tr
        %td= b.year
        %td= b.students.count
        %td= link_to 'Show Grades', "/grades/transcript/#{b.id}"
        %td= link_to 'Honor Roll', "#"
