%h1 Listing schoolyears

%table
  %tr
    %th Start
    %th Remarks
    %th{:colspan => 4} Action

  - @schoolyears.each do |schoolyear|
    %tr
      %td
        -if schoolyear.current
          %strong= schoolyear.name
        -else
          = schoolyear.name
      %td= schoolyear.remarks
      %td= link_to 'New Class', "courses/new/#{schoolyear.id}"
      %td= link_to 'Show', schoolyear_path(schoolyear)
      %td= link_to 'Set Current', make_current_schoolyear_url(schoolyear)
      %td= link_to 'Edit', edit_schoolyear_path(schoolyear)
      %td= # link_to 'Destroy', schoolyear, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Schoolyear', new_schoolyear_path
