%p#notice= notice
%h1
  = @schoolyear.name
%p
  %b Current:
  = @schoolyear.current
%td= link_to 'New Class', "/courses/new/#{@schoolyear.id}"
%p= @schoolyear.remarks

%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Section
      %th Subject
      %th Department
      %th Semester
      %th Faculty
      %th{:colspan => 2} Action
  %tbody
    - @schoolyear.courses.each do |c|
      %tr
        %td= c.section.name
        %td= c.subject.details
        %td= c.subject.department.name
        %td= c.semname
        %td= c.faculty.fullname
        %td= link_to 'Show', course_path(c)
        %td= link_to 'Edit', edit_course_path(c)
= link_to 'Edit', edit_schoolyear_path(@schoolyear)
\|
= link_to 'Back', schoolyears_path
