#transcript-heading
  %h4.center{:style => "margin: 0px auto;"}
    / = pdf_image_tag '/images/upislogo.JPG', :style => "width: 58px; padding: 0 5px; vertical-align: middle;"
    University of the Philippines Integrated School
  %h5.center{:style=>"margin-bottom: 10px;"}
    School Record
    %br Form 137

  %table
    %tr
      %td{style: "width: 70%"}
        %b.capslock= @student.fullname
      %td{style: "width: 30%"}
        .pull-right{style: "font-size: 12px;"}
          %b Sex:
          = @student.sex
          %b Date of Birth:
          = @student.birthday
    %tr{style: "font-size: 12px"}
      %td
        %b Address:
        = @student.address if @student.address.present?
      %td
        .pull-right
          %b Tel. No:
          = @student.landline if  @student.landline.present?
    %tr{style: "font-size: 12px"}
      %td
        %b Elem Completed in:
        = @student.elem_completed_in.present? ? @student.elem_completed_in : "UP Integrated School"
        - if @student.elem_completed_on.present?
          %b Year:
          = @student.elem_completed_on.year
      %td
        .pull-right
          %b Citizenship:
          = @student.citizenship.present? ? @student.citizenship : "Filipino"