#left.halfpage
  #header.center{:style => "width: 50%; margin: 0 auto 12px;"}
    %a= pdf_image_tag '/images/upislogo.JPG', :style => "width: 100px; padding-top: 15px; float: right;"
    Unibersidad ng Pilipinas
    %br
    Kolehiyo ng Edukasyon
    %br
    %span.capslock U.P. Integrated School
    %p Diliman, Lungsod ng Quezon
    .center.capslock
      %h4 Report Kard
      %h4= "A.Y. #{@sy.name}"

  #student_details.capslock
    %h4= @student.fullname
    %h4
      = @section.fullname if @section.present?
      .span.float-right
        Kasarian:
        = @student.sex
        &nbsp; Kapanganakan:
        = @student.birthday

  %h4.capslock.center gawaing pang-akademiko
  %table.smaller.center.withborder{:id => "year-#{@sy.id}", :style=>"margin: 5px 0 8px; padding: 5px; table-layout:fixed;"}
    %thead
      %tr
        %td{:style => "width:155px;"} Asignatura
        %td{:style => "width:37px;"} Q1
        %td{:style => "width:37px;"} Q2
        %td{:style => "width:37px;"} Q3
        %td{:style => "width:37px;"} Q4
        %td{:style => "font-size:10px; width:55px;"}  Average
        %td{:style => "font-size:10px; padding: 1px; width:65px;"} Panghuling Marka
        %td{:style => "font-size:10px; padding: 1px; width:65px;"} Completion Grade
        %td{:style => "font-size:10px; padding: 1px; width:75px;"} Desisyon
        %td{:style => "font-size:10px; padding: 1px; width:60px;"} Nakuhang Kredit
    %tbody
      - @student.courses_year(@sy.id).each do |c|
        %tr
          %td{:style => "text-align: left;"}= c.subject.name
          - if !c.yearlong && c.sem == 2
            %td -
            %td -
          - @student.course_grades(c.id).each do |g|
            - if c.sem == 4
              %td -
            - if c.subject.is_pe
              - if pe(g.value) == 'F'
                %td.emphasize= pe(g.value)
              - else
                %td= pe(g.value)
            - elsif !g.value.nil? && g.value < 50
              %td.emphasize= g.value
            - else
              %td= g.value
            - if c.sem == 3
              %td -
          - if !c.yearlong && c.sem == 1
            %td -
            %td -
          - if @student.course_has_blank(c.id)
            %td
            %td
          - else
            %td= c.student_average(@student.id)
            %td
              = @final = c.student_final(@student.id)
            %td
              - if @final == 4.0
                - @removal = @student.course_removed(c)
                = @removal.value if @removal.present?
            %td{:style => "font-size:10px;"}= c.student_decision(@student)
            %td= c.subject.units
      %tr
        %td{:colspan => 10, :style => "text-align: left;"}
          %b General Weighted Average:
          = @student.gwa_final_schoolyear(@sy)
  %br
  %h5.capslock Transmutation Table

  #transmutation_table{ :style=>"width:58%; float:left; bottom: 0;"}
    = render 'classcard/transmutation_table'

  %p{:style=>"float:right; width: 40%; font-size:11px;"}
    Ang panghuling marka sa anumang taunang asignatura ang katumbas na marka ng average
    ng mga nakuhang puntos sa apat na markahan. Ang pangunahing marka sa anumang asignaturang semestral
    ay katumbas na marka ng average ng mga nakuhang puntos sa dalawang markahan.
    %br
    %br Maaari nang ilipan/tanggapin sa gradong ___________
    %span{:style => "float:right; margin-right: 25px;"}=# Grado
    %br May pangunang kredit sa  ___________
    %span{:style => "float:right; margin-right: 30px;"}=# Asignatura
    %br Kulang na kredit sa  ___________
    %span{:style => "float:right; margin-right: 45px;"}=# Asignatura

  #cardfooter{:style => "width: 100%"}
    #date{:style => "float:left; width: 49%;"}
      _________________________________
      %p{:style => "margin-left: 90px;" }Petsa
    #principal.center{:style => "float: right; width: 50%; padding-top: 20px;"}
      .capslock Ronaldo M. San Jose, Ph.D.
      Prinsipal

#right.halfpage
  %h3.capslock.center mga kilos at gawi na nagpapakita ng pagpapahalaga
  %p.center (Sa tingin ng mga Guro at Kaklase)
  = render 'classcard/kilos_at_gawi'
  = render 'classcard/attendance'

  #adviser.center{:style => "width: 50%; float: right; padding-top: 30px;"}
    %h4= @section.faculty.fullname if @section.present?
    %p Adviser
  #clear

  %h3.capslock.center Sa mga Magulang o Tumatayong Magulang
  %p
    Ibinibigay ang kard na ito bawat markahan para maparating sa inyo ang pag-unlad ng inyong anak sa gawaing pang-akademiko,
    ang reguralidad ng kanyang pagpasok, at ang pagbuti niya bilang isag tao sa kilos at ugali. Kung nais ninyong makausap
    ang mga guro at guidance counselor tungkol sa inyong anak, mangyari po lamang puntahan sila sa UPIS sa oras ng konsultasyon.

