%h1.capslock= @student.fullname
%h3= "Batch #{@batch.year}"
= form_for @student do |f|
  -if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label :student_no
    .input= f.text_field :student_no, :readonly => true
  .clearfix
    = f.label :Surname
    .input= f.text_field :last
  .clearfix
    = f.label :Given
    .input= f.text_field :given
  .clearfix
    = f.label :Middle
    .input= f.text_field :middle
  .clearfix
    = f.label :Nickname
    .input= f.text_field :nick
  .clearfix
    = f.label :address
    .input= f.text_area :address
  .clearfix
    = f.label :birthday
    .input= f.date_select :birthday, :start_year => Time.now.year - 25, :end_year => Time.now.year - 4
  .clearfix
    = f.label :sex
    = f.radio_button(:sex, :M)
    Male
    = f.radio_button(:sex, :F)
    Female
  .clearfix
    = f.label :mobile
    .input= f.text_field :mobile
  .clearfix
    = f.label :landline
    .input= f.text_field :landline
  .clearfix
    = f.label :email
    .input= f.text_field :email
  .clearfix
    = f.label :religion
    .input
      = f.select :religion, [['Catholic','Catholic'],['Protestant','Protestant'],['Muslim','Muslim'],['Iglesia ni Kristo','Iglesia ni Kristo'],['Others', 'Others', :id => "other", :selected => true]], :id => "religion"
      = text_field :religion, :other, :value => @student.religion
  .clearfix
    = f.label :entry_point
    .input= f.select :entry, [['Kindergarten','Kindergarten'],['Lateral Entry','Lateral Entry'],['Vaas Program','Vaas Program']]
  .clearfix
    = f.check_box :graduate
    = f.label :alumni
  .clearfix
    = f.check_box :upcat
    = f.label :UPCAT_passer
  .clearfix
    = f.check_box :disciplinary
    = f.label :has_disciplinary_record
  .clearfix
    = f.label :father
    .input= f.text_field :father
  .clearfix
    = f.label :occupation
    .input= f.text_field :foccupation
  .clearfix
    = f.label :office
    .input= f.text_field :foffice
  .clearfix
    = f.label :contact_numbers
    .input= f.text_field :fcontact
  .clearfix
    = f.label :mother
    .input= f.text_field :mother
  .clearfix
    = f.label :occupation
    .input= f.text_field :moccupation
  .clearfix
    = f.label :office
    .input= f.text_field :moffice
  .clearfix
    = f.label :contact_numbers
    .input= f.text_field :mcontact
  .clearfix
    = f.label :guardian
    .input= f.text_field :guardian
  .clearfix
    = f.label :relationship_with_student
    .input= f.text_field :relationship
  .clearfix
    = f.label :address
    .input= f.text_field :gaddress
  .clearfix
    = f.label :contact_details
    .input= f.text_field :gcontact
  .clearfix
    = f.label :citizenship
    .input= f.text_field :citizenship
  .clearfix
    = f.label :elem_completed_in
    .input= f.text_field :elem_completed_in
  .clearfix
    = f.label :elem_completed_on
    .input= f.date_select :elem_completed_on, :start_year => Time.now.year - 17, :end_year => Time.now.year
  .actions
    = f.submit 'Save'


= link_to 'Show', @student
\|
= link_to 'Back', students_path
= javascript_include_tag "application"
:javascript
  $('#religion_other').show();
  $("select#student_religion").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "Others") {
      $('#religion_other').show("fast");
    }
    else {
      $('#religion_other').hide("fast");
    }
  });

