%h1.capslock= @student.fullname
%h2= @student.student_no

%ul.nav.nav-tabs
  %li= link_to "Transcript", "/students/transcript/#{@student.id}"
  %li.active= link_to "Honor Roll", "/students/honorroll/#{@student.id}"
  %li= link_to "Profile", @student
%h3
  Overall GWA:
  = @student.gwa_final_overall
%h4
  Overall Units:
  = @student.units_overall
.btn.btn-info= link_to "Honorroll PDF", "/students/honorroll/#{@student.id}.pdf", :target => "_blank"


%br
-#TODO: refactor!!!
- if !@schoolyear.empty?
  - @schoolyear.each do |sy|
    %h4= "AY #{sy.name}"
    - unless @student.section(sy.id).nil?
      %p
        %span= link_to @student.section(sy.id).name, @student.section(sy.id)
        = "- #{@student.section(sy.id).faculty.fullname}"
    Weighted Average:
    = @student.gwa_raw_schoolyear(sy)
    = @student.gwa_final_schoolyear(sy)

    %table{:id => "year-#{sy.id}", :class => "zebra-striped tablesorter sortable"}
      %thead
        %tr
          - for x in ["Subject", "Q1", "Q2", "Q3", "Q4", "Units", "Average", "Final"]
            %th= x
      %tbody
        - @student.courses_year(sy.id).each do |c|
          %tr
            %td= link_to c.subject.name, c
            - if !c.yearlong && c.sem == 2
              %td -
              %td -
            - @student.course_grades(c.id).each do |g|
              - if c.sem == 4
                %td -
              - if c.subject.is_pe
                - if pe(g.value) == 'F'
                  %td.emphasize= pe(g.value)
                - else
                  %td= pe(g.value)
              - elsif !g.value.nil? && g.value < 50
                %td.emphasize= g.value
              - else
                %td= g.value
              - if c.sem == 3
                %td -
            - if !c.yearlong && c.sem == 1
              %td -
              %td -

            %td= c.subject.units
            - ave = c.student_average(@student.id)
            - !c.subject.is_pe &&  !ave.nil? && ave < 50 ? emphasize = "emphasize" : emphasize = "nope"
            %td{:class => emphasize}= ave
            %td
              = @final = c.student_final(@student.id)
              - if @final == 4.0
                = @student.course_removed(c).value if @student.course_removed(c).present?

