= link_to 'New Student', new_batch_student_url(@batch)
|
= link_to 'Back', batches_path
%h1= "Batch #{@batch.year}"
%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Student no
      %th Batch
      %th Last
      %th Given
      %th Middle
      %th Nick
      %th{:colspan => 3 } Action
  %tbody
    - @students.each do |student|
      %tr
        %td= student.student_no
        %td= student.batch.year
        %td.capslock= student.last
        %td.capslock= student.given
        %td.capslock= student.middle
        %td.capslock= student.nick
        %td= link_to 'Transcript', "/students/transcript/#{student.id}"
        %td= link_to 'Profile', student
        %td= link_to 'Edit', edit_batch_student_url(student.batch, student)
