= link_to 'New Student', new_batch_student_url(@batch)
|
= link_to 'Back', batches_path
%h1= "Batch #{@batch.year}"
.btn.btn-warning= link_to "Print Quarter Class Stubs", "/grades/quarter-report/#{@batch.id}.pdf"
%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Student no
      %th Last
      %th Given
      %th Middle
      %th raw GWA for the year
      %th elvenpt GWA for the year
      %th{:colspan => 3 } Action
  %tbody
    - @students.each do |student|
      %tr
        %td= student.student_no
        %td.capslock= student.last
        %td.capslock= student.given
        %td.capslock= student.middle
        - if student.courses_year(Schoolyear.current_schoolyear.first).present?
          %td= student.gwa_raw_schoolyear(Schoolyear.current_schoolyear.first)
          %td= student.gwa_final_schoolyear(Schoolyear.current_schoolyear.first)
        - else
          %td
          %td
        %td= link_to 'Transcript', "/students/transcript/#{student.id}"
        %td= link_to 'Honorroll', "/students/honorroll/#{student.id}"
        %td= link_to 'Classcard', "/students/classcard/#{student.id}.pdf"
        %td= link_to 'Profile', student
        %td= link_to 'Edit', edit_batch_student_url(student.batch, student)

