%h1.capslock= @student.fullname
%h2= @student.student_no

%ul.nav.nav-tabs
  %li= link_to "Transcript", "/students/transcript/#{@student.id}"
  %li= link_to "Honor Roll", "/students/honorroll/#{@student.id}"
  %li.active= link_to "Profile", @student
  %li= link_to 'Edit', edit_student_path(@student)
  %li= link_to 'Back to Batchmates', batch_students_path(@student.batch)
  %li= link_to 'New Student', new_batch_student_url(@student.batch)
%p#notice= notice
.row_fluid
  - if !@student.has_grades?
    .btn.btn-danger= link_to 'Delete Student', @student, :confirm => 'Are you sure?', :method => :delete
  .span4
    %p
      %b Student no:
      = @student.student_no
    %p
      %b Batch:
      = @student.batch.year
    %p
      %b Last:
      = @student.last
    %p
      %b Given:
      = @student.given
    %p
      %b Middle:
      = @student.middle
    %p
      %b Nick:
      = @student.nick
    %p
      %b Address:
      = @student.address
    %p
      %b Birthday:
      = @student.birthday
    %p
      %b Mobile:
      = @student.mobile
    %p
      %b Landline:
      = @student.landline
    %p
      %b Email:
      = @student.email
    %p
      %b Religion:
      = @student.religion
    %p
      %b Entry:
      = @student.entry
    %p
      %b Graduate:
      = @student.graduate
    %p
      %b Upcat:
      = @student.upcat
    %p
      %b Disciplinary:
      = @student.disciplinary
    %p
      %b Father:
      = @student.father
    %p
      %b Foccupation:
      = @student.foccupation
    %p
      %b Foffice:
      = @student.foffice
    %p
      %b Fcontact:
      = @student.fcontact
    %p
      %b Mother:
      = @student.mother
    %p
      %b Moccupation:
      = @student.moccupation
    %p
      %b Moffice:
      = @student.moffice
    %p
      %b Mcontact:
      = @student.mcontact
    %p
      %b Guardian:
      = @student.guardian
    %p
      %b Relationship:
      = @student.relationship
    %p
      %b Gaddress:
      = @student.gaddress
    %p
      %b Gcontact:
      = @student.gcontact

  .span4
    %ul
      - @student.sections.each do |s|
        %li= link_to "#{s.name} - #{s.faculty.fullname}", s

