-#TODO: refactor!!!
- @schoolyear.each_slice(4) do |slice4|
  .page{:style=>"height: 830;"}
    = render "transcript_heading"

    - slice4.each_slice(2) do |pair|
      .row-fluid
        - pair.each do |sy|
          .span6
            = render "sy", :sy => sy
#clear
/ .span12{:style=>"border:1px solid #555; padding: 10px; margin-bottom: 5px;"}
.row-fluid{:style=>"border:1px solid #888; padding: 5px;"}
  .span5
    = check_box("test", "test", {}, "test", "test")
    Valid to Transfer
    %br
    = check_box("test", "test", {}, "test", "test")
    Eligible for admission to college
    %br
    = check_box("test", "test", {}, "test", "test")
    Copy for ______________
  
  .span7
    %table.transcript.left
      %tr
        %td 1.0 - Excellent
        %td 2.0 - Good
        %td 3.0 - Pass

      %tr
        %td 1.25
        %td 2.25
        %td 4.0 - Conditional

      %tr
        %td 1.5 Very Good
        %td 2.5 - Satisfactory
        %td 5.0 - Fail
      %tr
        %td 1.75
        %td 2.75
        %td


.row-fluid{style: "padding: 10px;"}
  .span7
    %p Prepared by:
    %p Checked by:
    %p= Time.now.to_s
  .span4.center
    .capslock{style: "padding-top: 40px;"} Ronaldo M. San Jose, Ph.D
    Principal 