-#TODO: refactor!!!
- @schoolyear.each_slice(2) do |slice|
  .page{:style=>"height: 1000;"}
    %h3.center{:style => "clear: right;"}
      = pdf_image_tag '/images/upislogo.JPG', :style => "width: 58px; padding: 0 5px; vertical-align: middle;"
      University of the Philippines Integrated School
    %h4.center{:style=>"margin-bottom: 10px;"} GRADES 7 - 12 (Secondary School Record)

    %h3.capslock
      = @student.fullname
      %p.right
        %b Sex:
        = @student.sex
        %b Date of Birth:
        = @student.birthday
    %p
      %b Address:
      = @student.address.present? ? @student.address : "----"
      %span.right
        %b Tel. No:
        = @student.landline.present? ? @student.landline : "----"
    = #end page header

    - slice.each_slice(2) do |pair|
      - pair.each do |sy|
        %table.smallest{:id => "year-#{sy.id}", :class => "zebra-striped tablesorter sortable", |
                :style => "border: 1px solid #AAA;" }
          %thead
            %tr
              %th
                School Year:
                %p= sy.name
              %th{:colspan => 2}
                Weighted Average:
                %p= @student.gwa_final_schoolyear(sy)
            %tr
              %th Subject
              %th Final
              %th Units
          %tbody
            - @student.courses_year(sy.id).each do |c|
              %tr
                %td{:style => "text-align: left;"}= c.subject.name
                - if @student.course_has_blank(c.id)
                  %td n/a
                - else
                  - @ave = c.student_average(@student.id)
                  %td
                    = @final = c.student_final(@student.id)
                    - if @final == 4.0
                      - @removal = @student.course_removed(c)
                      - if @removal.present? && @removal.pass
                        (3.0)
                      - elsif @removal.present? && !@removal.pass
                        (5.0)
                %td= c.subject.units
    #clear
    .span5
      %p Prepared by:
      %p Checked by:
    .span5.center
      .capslock Ronaldo M. San Jose, Ph.D
      Principal
