%h1.capslock= @student.fullname
%h2= @student.student_no

%ul.nav.nav-tabs
  %li.active= link_to "Transcript", "/students/transcript/#{@student.id}"
  %li= link_to "Honor Roll", "/students/honorroll/#{@student.id}"
  %li= link_to "Profile", @student

= form_tag "/students/transcript_builder/#{@student.id}.pdf" , id: "cdr_search_form", class: "form-stacked" do
  .field
    = check_box_tag "valid_to_transfer", 1, true
    Valid to Transfer
  .field
    = check_box_tag "eligible_for_admission", 1, true
    Eligible for Admission to College
  .field
    %label Copy For
    = text_field_tag :copyfor, "COPY FOR?",class: "form-control"
  .field
    %label Start Schoolyear
    = select_tag :start, options_from_collection_for_select(Schoolyear.all, :start, :name)
  .field
    %label End Schoolyear
    = select_tag :end, options_from_collection_for_select(Schoolyear.all, :start, :name, Schoolyear.current.id)
  .field
    = submit_tag("Generate Transcript", class: "btn btn-primary")
    .btn.btn-info= link_to "Default Transcript", "/students/transcript/#{@student.id}.pdf", :target => "_blank"

%br
-#TODO: refactor!!!
- @schoolyear.each do |sy|
  %h4= sy.name
  Weighted Average:
  = @student.gwa_final_schoolyear(sy)
  %table{:id => "year-#{sy.id}", :class => "zebra-striped tablesorter sortable"}
    %thead
      %tr
        %th Subject
        %th Final
        %th Units
    %tbody
      - @student.courses_year(sy.id).each do |c|
        %tr
          %td= link_to c.subject.name, c
          - if @student.course_has_blank(c.id)
            %td n/a
          - else
            - @ave = c.student_average(@student.id)
            %td
              = @final = c.student_final(@student.id)
              - if @final == 4.0
                - @removal = @student.course_removed(c)
                - if @removal.present? && @removal.pass
                  (3.0)
                - elsif @removal.present? && !@removal.pass
                  (5.0)
          %td= c.subject.units

