-#TODO: refactor!!!
- @schoolyear.each_slice(4) do |slice4|
  .page{:style=>"height: 1030;"}
    = render "transcript_heading"
      
    - slice4.each_slice(2) do |pair|
      .row-fluid
        - pair.each do |sy|
          .span6
            %table.transcript{:id => "year-#{sy.id}", :class => "zebra-striped tablesorter sortable", |
                    :style => "border: 1px solid #AAA;" }
              %thead
                %tr
                  %th{:colspan => @gradecol}
                    = "School Year #{sy.name}"
                %tr
                  %th{:width => "40%"} Subject
                  - if @settings[:elevenpt]
                    %th Final
                  - if @settings[:raw]
                    %th Raw
                  %th Credits Earned
              %tbody
                - @student.courses_year(sy.id, true).each do |c|
                  %tr
                    %td{:style => "text-align: left;"}= c.subject.name
                    - if @student.course_has_blank(c.id)
                      %td n/a
                      - if @settings[:raw] && @settings[:elevenpt]
                        %td n/a
                      %td 0.0
                    - else
                      - @removal = @student.course_removed(c)
                      - @final = c.student_final(@student.id)

                      - if @settings[:elevenpt]
                        %td
                          - if c.subject.is_pe
                            = c.student_pe_final(@student_id)
                          - else
                            = @final
                            - if @final == 4.0
                              = @removal.value if @removal.present?

                      - if @settings[:raw]
                        %td
                          - if c.subject.is_pe
                            = c.student_pe_final(@student_id)
                          - elsif @removal.present? and @removal.pass
                            = 50
                          - else
                            = c.student_average(@student.id)

                      - if @final == 5.0 or (@removal.present? and !@removal.pass)
                        %td= 0.0
                      - else
                        %td= c.subject.units
                - (20 - @student.courses_year(sy.id, true).length).times do |x|
                  %tr
                    %td &nbsp;
                    %td &nbsp;
                    - if @settings[:elevenpt]
                      %td &nbsp;
                    - if @settings[:raw]
                      %td &nbsp;



    #clear
    .row-fluid{:style=>"padding: 5px 0px;"}
      .span5
        - if @valid_to_transfer
          = raw "&#10003;"
        - else
          = check_box("test", "test", {}, "test", "test")
        Valid to Transfer
        %br
        - if @eligible_for_admission
          = raw "&#10003;"
        - else
          = check_box("test", "test", {}, "test", "test")
        Eligible for admission to college

        %br

        - if @copyfor.present?
          = raw "&#10003;" 
        - else
          = check_box("test", "test", {}, "test", "test")
        = "Copy for #{@copyfor}"
      
      .span7
        %table.transcript.left
          %tr
            %td 1.0 - Excellent
            %td 2.0 - Good
            %td 3.0 - Pass

          %tr
            %td 1.25
            %td 2.25
            %td 4.0 - Conditional

          %tr
            %td 1.5 Very Good
            %td 2.5 - Satisfactory
            %td 5.0 - Fail
          %tr
            %td 1.75
            %td 2.75
            %td


    .row-fluid{style: "padding: 10px;"}
      .span7
        %p= "Prepared by: #{current_user.name}"
        %p Checked by:
        %p= Time.now.to_s
      .span4.center
        .capslock{style: "padding-top: 40px;"} Ronaldo M. San Jose, Ph.D
        Principal 
