%h1= @student.fullname
%h2= @student.student_no

%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Subject
      %th Units
      %th Sem
      %th Schoolyear
      %th Qtr A
      %th Qtr B
      %th Average
  %tbody
    - @student.enrollees.each do |enrollment|
      %tr
        -if enrollment.quartera.nil? || enrollment.quarterb.nil?
          %td{:style => "color: red"}= enrollment.course.subject.name
        -elsif enrollment.quartera < 50 || enrollment.quarterb < 50
          %td{:style => "color: orange"}= enrollment.course.subject.name
        -else
          %td= enrollment.course.subject.name
        %td= enrollment.course.subject.units
        %td= enrollment.course.semname
        %td= enrollment.course.schoolyear.name
        %td= enrollment.quartera
        %td= enrollment.quarterb
        -if enrollment.quartera.nil? || enrollment.quarterb.nil?
          %td n/a
        - else
          %td= (enrollment.quartera + enrollment.quarterb) / 2
