%h1.capslock= @student.fullname
%h2= @student.student_no

%ul.nav.nav-tabs
  %li.active= link_to "Transcript", "/students/transcript/#{@student.id}"
  %li= link_to "Honor Roll", "/students/honorroll/#{@student.id}"
  %li= link_to "Profile", @student
.btn.btn-info= link_to "Transcript PDF", "/students/transcript/#{@student.id}.pdf", :target => "_blank"
.btn.btn-info= link_to "Transcript Builder", "/students/transcript_builder/#{@student.id}.pdf", :target => "_blank"

%br
-#TODO: refactor!!!
- @schoolyear.each do |sy|
  %h4= sy.name
  Weighted Average:
  = @student.gwa_final_schoolyear(sy)
  %table{:id => "year-#{sy.id}", :class => "zebra-striped tablesorter sortable"}
    %thead
      %tr
        %th Subject
        %th Final
        %th Units
    %tbody
      - @student.courses_year(sy.id).each do |c|
        %tr
          %td= link_to c.subject.name, c
          - if @student.course_has_blank(c.id)
            %td n/a
          - else
            - @ave = c.student_average(@student.id)
            %td
              = @final = c.student_final(@student.id)
              - if @final == 4.0
                - @removal = @student.course_removed(c)
                - if @removal.present? && @removal.pass
                  (3.0)
                - elsif @removal.present? && !@removal.pass
                  (5.0)
          %td= c.subject.units

