= form_for @gwa do |f|
  -if @gwa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gwa.errors.count, "error")} prohibited this gwa from being saved:"
      %ul
        - @gwa.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :student
    = f.text_field :student
  .field
    = f.label :schoolyear
    = f.text_field :schoolyear
  .field
    = f.label :gwa_type
    = f.number_field :gwa_type
  .field
    = f.label :raw
    = f.number_field :raw
  .field
    = f.label :elevenpt
    = f.number_field :elevenpt
  .actions
    = f.submit 'Save'
