= form_tag("/gwas", :method => "get") do
  = select :gwa, :mode, [['Cumulative',GwaMode::Cumulative],['Current Schoolyear',GwaMode::Schoolyear],['Semester 1',GwaMode::Semester1],['Semester 2',GwaMode::Semester2]]
  = collection_select :gwa, :batch_id, Batch.all, :id, :year
  = collection_select :gwa, :schoolyear_id, Schoolyear.all, :id, :name, :selected => Schoolyear.current.id
  = submit_tag("Search")

- if @mode.present?
  Search Results for:
  %h3
    = "Batch #{@batch.year}"
    - if @mode == GwaMode::Cumulative
      Cumulative Mode
    - else
      = "A.Y. #{@schoolyear.name}"
      = "#{gwalabel(@mode)} mode"

  = form_tag("/gwas", :method => "post") do
    = hidden_field_tag(:mode, @mode)
    = hidden_field_tag(:batch_id, @batch.id)
    = hidden_field_tag(:schoolyear_id, @schoolyear.id)
    = submit_tag 'update/ generate this GWA', :class => "btn btn-info"
    %i.icon-warning-sign
    disciplinary
    %i.icon-remove
    deficiency
    %i.icon-exclamation-sign
    failing

- if @gwas.present?
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Name
        %th raw GWA
        / %th elvenpt GWA
        %th Remarks
    %tbody
      - @gwas.each do |g|
        %tr
          %td.capslock= link_to g.student.fullname, g.student
          %td= g.raw
          / %td= g.final
          %td
            - if g.student.disciplinary
              %i.icon-warning-sign
            - if g.deficiency
              %i.icon-remove
              = g.deficiency.course.subject.name
            - if g.failing.present?
              %i.icon-exclamation-sign
              = g.failing.course.subject.name