= form_tag("/gwas", :method => "get") do
  = select :gwa, :mode, [['Overall',"overall"],['Schoolyear',"schoolyear"],['Semester/Principal List',"semester"]]
  = collection_select :gwa, :batch_id, Batch.all, :id, :year
  = collection_select :gwa, :schoolyear_id, Schoolyear.all, :id, :name, :selected => Schoolyear.current.id
  = submit_tag("Search")
  
- if @mode.present?
  %h3= "Search Results for: #{@batch.year} A.Y. #{@schoolyear.name} #{@mode} mode"

- if @gwas.present?
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Student no
      %th Last
      %th Given
      %th Middle
      %th raw GWA
      %th elvenpt GWA
      %th Remarks
  %tbody
    - @gwas.each do |g|
      %tr
        %td= g.student.student_no
        %td.capslock= g.student.last
        %td.capslock= g.student.given
        %td.capslock= g.student.middle
        %td= g.raw
        %td= g.elevenpt 