%p#notice= notice

%p
  %b Student:
  = @gwa.student
%p
  %b Schoolyear:
  = @gwa.schoolyear
%p
  %b Gwa type:
  = @gwa.gwa_type
%p
  %b Raw:
  = @gwa.raw
%p
  %b Elevenpt:
  = @gwa.elevenpt

= link_to 'Edit', edit_gwa_path(@gwa)
\|
= link_to 'Back', gwas_path
