= form_for @faculty,:html => {:class=>"form-stacked"} do |f|
  -if @faculty.errors.any?
    #error_explanation
      %h2= "#{pluralize(@faculty.errors.count, "error")} prohibited this faculty from being saved:"
      %ul
        - @faculty.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :last
    = f.text_field :last
  .field
    = f.label :given
    = f.text_field :given
  .field
    = f.label :middle
    = f.text_field :middle
  .field
    = f.label :department
    = select :faculty, :department_id, Department.all, :id, :name
  .field
    = f.label :appointment
    = f.date_select :appointment
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :mobile
    = f.text_field :mobile
  .actions
    = f.submit 'Save'
