%h1 Listing faculties
= link_to 'New Faculty', new_faculty_path
-if !Department.all.empty?
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Department
        %th Last
        %th Given
        %th Middle
        %th Email
        %th{:colspan => 2} Action
    %tbody
      - @faculties.each do |faculty|
        %tr
          %td= faculty.department.name
          %td= faculty.last
          %td= faculty.given
          %td= faculty.middle
          %td= faculty.email
          %td= link_to 'Show', faculty
          %td= link_to 'Edit', edit_faculty_path(faculty)

  %br

-else
  = link_to 'Please create departments first', new_department_path
