%p#notice= raw notice

%h1= @faculty.fullname
%p
  %b Department:
  = @faculty.department.name
%p
  %b Appointment:
  = @faculty.appointment
%p
  %b Birthday:
  = @faculty.birthday
%p
  %b Email:
  = @faculty.email
%p
  %b Landline:
  = @faculty.landline
%p
  %b Mobile:
  = @faculty.mobile
- unless is_faculty?
  = link_to 'Edit', edit_faculty_path(@faculty)
  \|
  = link_to 'Back', faculties_path
  |
  = link_to 'New Faculty', new_faculty_path

