%p#notice= notice

%h1= @faculty.fullname
%p
  %b Department:
  = @faculty.department.name
%p
  %b Appointment:
  = @faculty.appointment
%p
  %b Email:
  = @faculty.email
%p
  %b Mobile:
  = @faculty.mobile

= link_to 'Edit', edit_faculty_path(@faculty)
\|
= link_to 'Back', faculties_path
