.sidebar-nav.well
  %img{:src => "/images/thumblogo.png", :style => "width: 65px; float: left; padding: 0 15px;"}
  %h3 Academic Year
  %h1= Schoolyear.current_schoolyear.first.name
  %ul.nav.nav-pills.nav-stacked{:style => "padding-top: 10px;"}
    %li.divider-vertical &nbsp;
    %li
      %a{:href => root_url}
        %i.icon-home
        = 'Home'

    - if is_faculty?
      %li
        %a{:href => "/my_classes"}
          %i.icon-pencil
          = 'My Classes'

    - if !is_faculty?
      %li
        %a{:href => "/schoolyears"}
          %i.icon-calendar
          Schoolyears

    - else
      %li
        %a{:href => "/sections/new/#{Schoolyear.current_schoolyear.first.id}"}
          %i.icon-star
          = "New Section"
      %li
        %a{:href => "/courses/new/#{Schoolyear.current_schoolyear.first.id}"}
          %i.icon-star-empty
          = 'New Class'

    %li
      %a{:href => schoolyear_path(Schoolyear.current_schoolyear.first)}
        %i.icon-book
        = 'All Classes'
    %li
      %a{:href => sections_path}
        %i.icon-th-list
        = 'Sections'
    %li.divider-vertical &nbsp;
    %li
      %a{:href => batches_path}
        %i.icon-user
        = 'Students Profiles'
    %li
      %a{:href => departments_path}
        %i.icon-list-alt
        = 'Faculty Profiles'
    %li
      %a{:href => "/grades/deficiency/1"}
        %i.icon-check
        = 'Deficiencies'

