%h1 Listing departments
= link_to 'New Department', new_department_path  unless is_faculty?

%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Name
      %th Faculty Memebers
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.faculties.count
        %td= link_to 'Show', department
        %td= link_to 'Edit', edit_department_path(department)  unless is_faculty?

