= form_for @section do |f|
  -if @section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :schoolyear
    = collection_select :section, :schoolyear_id, Schoolyear.all, :id, :start
  .field
    = f.label :faculty
    = collection_select :section, :faculty_id, Faculty.all, :id, :fullname
  .field
    = f.label :batch
    = collection_select :section, :batch_id, Batch.all, :id, :year
  .field
    = f.label :year
    = f.select :year, [['1st',1],['2nd',2],['3rd',3],['4th',4],['5th', 5]]
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
