%h1 Listing sections
-if !Faculty.all.empty? && !Schoolyear.all.empty? && !Batch.all.empty?
  = link_to 'New Section', new_section_path

  %table{:id => "sortable", :class => "tablesorter"}
    %thead
      %tr
        %th A.Y.
        %th Year
        %th Batch        
        %th Name
        %th Students
        %th Subjects
        %th Faculty
        %th{:colspan => 2} Actions
    %tbody
      - @sections.each do |section|
        %tr
          %td= section.schoolyear.name
          %td= section.year
          %td= section.batch.year
          %td= section.name
          %td= section.students.count
          %td= section.courses.count
          %td= section.faculty.fullname
          %td= link_to 'Show', section
          %td= link_to 'Edit', edit_section_path(section)

-else
  Please create faculties, schoolyear and batch first.
