%p#notice= notice

%p
  %b Schoolyear:
  = @section.schoolyear.start
%p
  %b Faculty:
  = @section.faculty.last
  = @section.faculty.given
%p
  %b Batch:
  = @section.batch.year
%p
  %b Year:
  = @section.year
%p
  %b Name:
  = @section.name

= link_to 'Edit', edit_section_path(@section)
\|
= link_to 'Back', sections_path
