%h5
  = "#{@section.year} #{@section.name}"
  .span{:style => "float: right"}= "Batch #{@section.batch.year}"
%h5
  A.Y.
  = @section.schoolyear.name
  .span{:style => "float: right"}= @section.faculty.fullname
%p.span{:style => "margin: 1px"}= "#{ @section.students.count } students"

-unless(@section.students.empty?)
  %table.medium{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Student No
        %th Student
    %tbody
      - @section.members.sort!{ |a,b| a.student.fullname.downcase <=> b.student.fullname.downcase }.each do |m|
        %tr
          %td= m.student.student_no
          %td.capslock= m.student.fullname
