%h1= @schoolyear.name
-if !Faculty.all.empty? && !Schoolyear.all.empty? && !Batch.all.empty?
  = link_to 'New Section', new_section_path

  %table{:id => "sortable", :class => "tablesorter"}
    %thead
      %tr
        %th A.Y.
        %th Year
        %th Name
        %th Batch
        %th Faculty
    %tbody
      - @sections.each do |section|
        %tr
          %td= section.schoolyear.name
          %td= section.year
          %td= section.name
          %td= section.batch.year        
          %td
            = section.faculty.last
            = section.faculty.given
          %td= link_to 'Show', section
          %td= link_to 'Add Students', add_students_section_url(section)
          %td= link_to 'Edit', edit_section_path(section)
          %td= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete

-else
  Please create faculties, schoolyear and batch first.
