
= form_for @subject, :html => {:class=>"form-stacked"} do |f|
  -if @subject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :department
    = collection_select :subject, :department_id, Department.all, :id, :name
  .field
    = f.label :units
    = f.text_field :units, :precision => 2
  .field
    = f.label :year
    = f.select :year, [['Elective',-1],['k',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['1st',7],['2nd',8],['3rd',9],['4th',10],['5th', 11],['6th', 12]]
  .field
    = f.check_box :is_pe
    = f.label :is_pe
  .actions
    = f.submit 'Save'

