%h1 Listing subjects
-if !Department.all.empty?
  = link_to 'New Subject', new_subject_path

  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Name
        %th Department
        %th Units
        %th Year

    %tbody
      - @subjects.each do |subject|
        %tr
          %td= subject.name
          %td= subject.department.name
          %td= subject.units
          %td= subject.year
          %td= link_to 'Show', subject
          %td= link_to 'Edit', edit_subject_path(subject)
          - unless !subject.courses.empty?
            %td= link_to 'Destroy', subject, :confirm => 'Are you sure?', :method => :delete
-else
  = link_to 'Please create departments first', new_department_path
