= link_to 'Edit', edit_subject_path(@subject)
|
= link_to 'Back', subjects_path
|
= link_to 'New Subject', new_subject_path
%p#notice= notice

%p
  %b Name:
  = @subject.name
%p
  %b Department:
  = @subject.department.name
%p
  %b Units:
  = @subject.units
%p
  %b Year:
  = @subject.year
%p
  %b Ordinality:
  = @subject.ordinality
