- @course.my_students.each do |s, grades|
  %tr
    %td= s.student_no
    %td.capslock= link_to s.fullname, s
    - unless (is_faculty? and !faculty_owned?)
      - grades.each do |g|
        - if pe(g.value) == 'F'
          %td{:class => "emphasize", :title => "by user: #{g.updator.email if g.updator.present?} #{g.updated_at}"}= pe(g.value)
        - else
          %td{:title => "by user: #{g.updator.email if g.updator.present?} #{g.updated_at}"}= pe(g.value)
      %td
      %td
      %td
        - if !s.course_has_grade(@course.id) && !is_faculty?
          = link_to "unenroll" , "/courses/#{@course.id}/unenroll/#{s.id}"

