- @course.my_students.each do |s, grades|
  - emphasize = "emphasize" if grades.any? {|grade| !grade.value.nil? && grade.value < 50}
  %tr
    %td{:class => emphasize}= s.student_no
    %td.capslock= link_to s.fullname, s
    - unless (is_faculty? and !faculty_owned?)
      - grades.each do |g|
        - !g.value.nil? && g.value < 50 ? emphasize = "emphasize" : emphasize = "nope"
        %td{:class => emphasize, :title => "by user: #{g.updator.email} #{g.updated_at}"}= g.value
      - if !grades.any? {|grade| grade.value.nil?}
        %td= ave = (grades.map(&:value).sum.to_f/grades.length).round
        %td
          = final = elevenpt(ave)
          - if final == 4.0
            - @removal = s.course_removed(@course)
            = @removal.value if @removal.present?
      - else
        %td
        %td
      %td
        - if !s.course_has_grade(@course.id) && !is_faculty?
          = link_to "unenroll" , "/courses/#{@course.id}/unenroll/#{s.id}"
        - elsif final.present? and final == 4.0 && (is_faculty? or is_admin?) and (!@course.is_closed? or @removal.nil?)
          = link_to 'Pass', "/courses/removal/#{@course.id}/#{s.id}/pass"
          |
          = link_to 'Fail', "/courses/removal/#{@course.id}/#{s.id}/fail"

