%h1= @course.subject.name
%h2= @course.section.name
%table
  %thead
    %th Student Number
    %th Student Name
    %th Qtr A
    %th Qtr B
  %tbody
    = form_for(@course.enrollees, :url => "update_grades") do |f|
      = #TODO: fix validations
      - @course.enrollees.each do |enrollee|
        %tr
          %td= f.label enrollee.student.student_no
          %td= f.label enrollee.student.fullname
          = f.fields_for enrollee, :index => enrollee.id do |enrollee_f|
            %td= enrollee_f.text_field :quartera, :class => "gradesheetinput"
            %td= enrollee_f.text_field :quarterb, :class => "gradesheetinput"
      .actions
        = f.submit 'Save'
