%h4
  = @course.semname
  = @course.schoolyear.name
%h1= @course.subject.details
%h2= @course.faculty.fullname
%h3= @course.section.name
%table
  %thead
    %th Student Number
    %th Student Name
    - if @course.yearlong == true
      %th 1st Q
      %th 2nd Q
      %th 3rd Q
      %th 4th Q
    - elsif @course.sem == 1
      %th 1st Q
      %th 2nd Q
    - else
      %th 3rd Q
      %th 4th Q
  %tbody
    = form_for(@course, :url => "update_grades") do |f|
      = #TODO: fix validations
      - @course.my_students.each do |s|
        %tr
          %td= s.student.student_no
          %td= s.student.fullname
          - s.student.course_grades(@course.id).each do |grade|
            = f.fields_for grade, :index => grade.id do |grade_f|
              %td= grade_f.text_field :value, :class => "gradesheetinput"
      .actions
        = f.submit 'Save'
