%p#notice= notice
%p
  = @course.semname
  = @course.schoolyear.name
%h1= @course.subject.details
%h2= @course.faculty.fullname
%h3= @course.section.name
= link_to 'Edit', edit_course_path(@course)
= link_to 'Back', schoolyear_path(@course.schoolyear.id)
= link_to 'Update Grades', grading_sheet_course_path(@course)
-unless(@course.students.empty?)
  %table
    %thead
      %tr
        %th Student No
        %th Student
        %th 1st Q
        %th 2nd Q
        %th Action
    %tbody
    - @course.enrollees.each do |e|
      %tr
        %td= e.student.student_no
        %td= e.student.fullname
        %td= e.quartera
        %td= e.quarterb
        - unless !e.quartera.nil? || !e.quarterb.nil?
          %td= link_to "unenroll" , "/courses/#{@course.id}/unenroll/#{e.student_id}"

%h3 Enroll Students
= form_for(@course, :url => enroll_students_course_path) do |f|
  -if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .field
    = select_tag "students[]", options_from_collection_for_select(@students, "id", "fullname"), :multiple => true, :class =>"multiselect" 
  .actions
    = f.submit 'Enroll'
