%p#notice= notice
%h4
  = @course.semname
  = @course.schoolyear.name
%h1= @course.subject.details
%h2= @course.faculty.fullname
%h3= @course.section.name
%h3= "#{@course.my_students.count.keys.count} students"
%ul.nav.nav-tabs
  %li.active= link_to 'Classlist', @course
  %li= link_to 'Update Grades', grading_sheet_course_path(@course)
  - if !@course.has_grade?
    %li= link_to 'Destroy Class', @course, :confirm => 'Are you sure?', :method => :delete
    %li= link_to 'Unenroll All', "/courses/#{@course.id}/unenroll_students", :confirm => 'Are you sure?'
%br
-unless(@course.students.empty?)
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %thead
      %tr
        %th Student No
        %th Student
        - if @course.yearlong == true
          %th 1st Q
          %th 2nd Q
          %th 3rd Q
          %th 4th Q
        - elsif @course.sem == 1
          %th 1st Q
          %th 2nd Q
        - else
          %th 3rd Q
          %th 4th Q
        %th Average
        %th Final
        %th Action
    %tbody
      - #REFACTOR_ME!
      - @course.my_students.each do |s|
        - if @course.subject.is_pe?
          - ave = final = ''
        - else
          - ave = @course.student_average(s.student.id)
          - final = elevenpt(ave)

        %tr
          - if s.student.course_has_failing(@course.id)
            %td.emphasize= s.student.student_no
          - else
            %td= s.student.student_no
          %td= link_to s.student.fullname, s.student
          - s.student.course_grades(@course.id).each do |g|
            - if @course.subject.is_pe?
              - if PE(g.value) == 'F'
                %td.emphasize= PE(g.value)
              - else
                %td= PE(g.value)
            - else
              - if !g.value.nil? && g.value < 50
                %td.emphasize= g.value
              - else
                %td= g.value
          %td= ave
          %td
            = final
            - if final == 4.0
              - @removal = s.student.course_removed(@course)
              - if @removal.present? && @removal.pass
                (3.0)
              - elsif @removal.present? && !@removal.pass
                (5.0)
          %td
            - if !s.student.course_has_grade(@course.id)
              = link_to "unenroll" , "/courses/#{@course.id}/unenroll/#{s.student_id}"
            - elsif elevenpt(ave) == 4.0
              = link_to 'Pass', "/courses/removal/#{@course.id}/#{s.student_id}/pass"
              |
              = link_to 'Fail', "/courses/removal/#{@course.id}/#{s.student_id}/fail"

%h3 Enroll Students
= form_for(@course, :url => enroll_students_course_path) do |f|
  -if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .field
    = select_tag "students[]", options_from_collection_for_select(@students, "id", "fullname"), :multiple => true, :class =>"multiselect"
  .actions
    = f.submit 'Enroll'

