%p#notice= notice
%h1= @schoolyear.name

%ul.nav.nav-tabs
  %li.active= link_to "Batches", batches_path
  %li= link_to "Sections", sections_path
  %li= link_to "Classes", schoolyear_path(@schoolyear.id)


%h3 Current Batches
= link_to 'New Batch', new_batch_path unless is_faculty?
%table
  %thead
    %tr
      %th Year
      %th Remarks
      %th Students
      %th{:colspan => 3} Action
  %tbody
    - Batch.current.each do |batch|
      %tr
        %td= batch.year
        %td= batch.remarks
        %td= batch.students.count
        %td= link_to 'Show', batch_path(batch)
        - unless is_faculty?
          %td= link_to 'New Student', "/students/new/#{batch.id}"
          %td= link_to 'Edit', edit_batch_path(batch)

%h3 All Batches
%table{:id => "sortable", :class => "zebra-striped tablesorter"}
  %thead
    %tr
      %th Year
      %th Remarks
      %th Students
      %th{:colspan => 3} Action
  %tbody
    - @batches.each do |batch|
      %tr
        %td= batch.year
        %td= batch.remarks
        %td= batch.students.count
        %td= link_to 'Show', batch_path(batch)
        - unless is_faculty?
          %td= link_to 'New Student', "/students/new/#{batch.id}"
          %td= link_to 'Edit', edit_batch_path(batch)

