%h1 Listing batches

%table
  %tr
    %th Year
    %th Remarks
    %th Students
    %th{:colspan => 3} Action

  - @batches.each do |batch|
    %tr
      %td= batch.year
      %td= batch.remarks
      %td= batch.students.count
      %td= link_to 'New Student', new_batch_student_url(batch)
      %td= link_to 'Show', batch_students_path(batch)
      %td= link_to 'Edit', edit_batch_path(batch)

%br

= link_to 'New Batch', new_batch_path
