%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Comfortaa|Convergence', :rel => 'stylesheet', :type => 'text/css' }

    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #dash
      - if user_signed_in?
        = link_to current_user.email, edit_user_registration_path
        = link_to 'Logout', destroy_user_session_path, :method => :delete
      - else
        = link_to "Sign up!", new_user_registration_path
        = link_to "Log in!", new_user_session_path
    .container_24
      #header
        %h1 UPIS Grade DB
      .grid_6
        #sidepane
          - if user_signed_in? && current_user.admin?
            %ul
              %h3 APAP Management
              %li= link_to 'School Year', schoolyears_path
              %li= link_to 'Departments', departments_path
              %li= link_to 'Faculty', faculties_path              
              %li= link_to 'Subjects', subjects_path
              %li= link_to 'Students', batches_path
              
              %h3 Records Staff Modules
              %li= link_to 'Students', batches_path
              %li= link_to 'Sections', sections_path
              %li= link_to 'Classes', courses_path
          - else
            Welcome to UPIS Grade DB! Please login to Continue.
      .grid_18
        #content
          = yield
      .clear
      .grid_24
        #footer
          %a= 'copyleft'
